<div class="mt-4">
    <h3>Đăng bán sản phẩm</h3>
    <form method="POST" action="/products/create">
        <div class="mb-3">
            <label for="name" class="form-label">Tên</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Mô tả</label>
            <textarea class="form-control" id="description" name="description"></textarea>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Giá (VND)</label>
            <input type="text" class="form-control" id="price" name="price">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Link hình ảnh</label>
            <input type="text" class="form-control" id="image" name="image">
        </div>
        <div class="mb-3">
            <label for="categoryId" class="form-label">Phân loại</label>
            <select class="form-select form-select-sm checkbox-select-all-options" id="categoryId" name="categoryId" required
                aria-label="Default select example">
                <option selected value="">Chọn loại</option>
                <option value="1">1. Món chính</option>
                <option value="2">2. Món phụ</option>
                <option value="3">3. Nước uống</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary mb-5">Submit</button>
    </form>
</div>