<nav class="navbar bg-dark  navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Bánh Tầm Bì</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ms-5" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Trang chủ</a>
        </li>
        <li class="nav-item ms-3">
          <a class="nav-link active" href="/products/mon-chinh">Món chính</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/products/mon-phu">Món phụ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/products/nuoc-uong">Nước uống</a>
        </li>
        <li class="nav-item ms-5">
          <a class="nav-link active" href="/cart">Giỏ hàng</a>
        </li>
        <li class="nav-item dropdown ms-5 me-5">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Tài khoản
          </a>
          <ul class="dropdown-menu">
            {{!-- <li><a class="dropdown-item" href="#">Thông tin liên lạc</a></li>
            <li><a class="dropdown-item" href="#">Đơn hàng của tôi</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Đăng xuất</a></li> --}}
          </ul>
        </li>
      </ul>
      <form class="d-flex" id="searchForm" role="search">
        <input class="form-control me-2" id="searchInput" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<input type="text" id="hiddenInput" value="{{ data.isAdmin }}" placeholder="isAdmin" hidden>

<script>
  const userIsAdmin = document.getElementById('hiddenInput').value;
  const userId = "{{data.id}}"
  //console.log(typeof userIsAdmin)
  const dropdownMenu = document.querySelector(
    ".nav-item.dropdown .dropdown-menu"
  );

  if (userIsAdmin == "false") {
    dropdownMenu.innerHTML = `
    <li><a class="dropdown-item" href="/order/${userId}">Đơn hàng của tôi</a></li>
        <li><a class="dropdown-item" href="/accounts/${userId}/address">Địa chỉ nhận hàng</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/auth/logout">Đăng xuất</a></li>
    `;
  } else if (userIsAdmin == "true") {

    //Xóa form tìm kiếm
    const form = document.querySelector('.d-flex');
    form.innerHTML = ``

    // Xác định phần danh sách các menu
    var menuItems = document.querySelector(".navbar-nav");

    // Lọc và xóa tất cả các thẻ <li> ngoại trừ <li> của Tài khoản
    Array.from(menuItems.children).forEach(function (item) {
      if (!item.classList.contains("dropdown")) {
        item.remove();
      }
    });

    dropdownMenu.innerHTML = `
        <li><a class="dropdown-item" href="#">Thông tin cá nhân</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/auth/logout">Đăng xuất</a></li>
    `;

    // Lấy phần tử <ul> chứa các mục menu
    const menuUl = document.querySelector('.collapse#navbarSupportedContent ul.navbar-nav');
    // Tạo một mảng chứa các thông tin của các mục menu mới
    const newMenuItems = [
      { text: 'Quản lý sản phẩm', link: '/products' },
      { text: 'Quản lý đơn hàng', link: '/order/manager?status=0' },
      { text: 'Quản lý tài khoản', link: '/accounts' }
    ];
    // Duyệt qua mảng mới và thêm các mục vào danh sách menu
    newMenuItems.forEach(item => {
      const newLi = document.createElement('li');
      newLi.classList.add('nav-item');

      const newLink = document.createElement('a');
      newLink.classList.add('nav-link', 'active');
      newLink.href = item.link;
      newLink.textContent = item.text;

      newLi.appendChild(newLink);
      menuUl.appendChild(newLi);
    });

  } else {
    dropdownMenu.innerHTML = `
        <li><a class="dropdown-item" href="/auth/login">Đăng nhập</a></li>
        <li><a class="dropdown-item" href="/auth/register">Đăng ký</a></li>
    `;
  }

  //search
  const searchForm = document.getElementById('searchForm');
  searchForm.addEventListener('submit', function (event) {
    event.preventDefault();

    const searchInput = document.getElementById('searchInput');
    const searchValue = searchInput.value.trim();

    if (searchValue !== '') {
      fetch(`/products/search/${searchValue}`)
        .then(response => {
         window.location.href = `/products/search/${searchValue}`;
        })
        .catch(error => {
          console.error('There was a problem with your fetch operation:', error);
        });
    }
  });
</script>