<nav class="navbar bg-dark  navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Bánh Tầm Bì</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ms-5" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Món chính</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Món phụ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Nước uống</a>
        </li>
        <li class="nav-item dropdown ms-5">
          <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Thông tin tài khoản
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Thông tin liên lạc</a></li>
            <li><a class="dropdown-item" href="#">Đơn hàng của tôi</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<script>
  // Assume loggedIn is a boolean indicating if the user is logged in or not
const loggedIn = true; // You need to replace this with your actual login status

const dropdownMenu = document.querySelector('.nav-item.dropdown .dropdown-menu');

if (loggedIn) {
    // Change the content of dropdown items if user is logged in
    dropdownMenu.innerHTML = `
        <li><a class="dropdown-item" href="#">Thông tin cá nhân</a></li>
        <li><a class="dropdown-item" href="#">Đơn hàng của tôi</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Thoát</a></li>
    `;
} else {
    // Change the content of dropdown items if user is not logged in
    dropdownMenu.innerHTML = `
        <li><a class="dropdown-item" href="#">Đăng nhập</a></li>
        <li><a class="dropdown-item" href="#">Đăng ký</a></li>
    `;
}
</script>